.sidebar-list li {
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px; 
color: #26264C;
}

/* .active {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px; 
    color: #26264C;
} */